@font-face {
  font-family: "Bebas Neue";
  src: url("fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue2";
  src: url("/fonts/BebasNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style:
}
@font-face {
  font-family: "Bebas Neue3";
  src: url("/fonts/BebasNeue-Light.woff") format("woff");
  font-weight: lighter;
}
@font-face {
  font-family: "Bebas Neue4";
  src: url("/fonts/BebasNeue-Thin.woff") format("woff");
  font-weight: 100;*/
}
body {
  overflow-x: hidden;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}
h1 {
  font-weight: bolder;
  font-size: 220px; /* Кегель*/
  /*margin-top: 190px; /* Оступ сверху */
  line-height: 161px; /* Расстояние между строками */
  width: 476px; /* Отступы по бокам */
  margin: 0 auto; /* Выравнивание */
}
/* Расположение главного заголовка */
.hop {
  position: absolute;
  top: 190px;
  left: 476px;
}
/* Стильь для текста на 1p */
.t1 {
  position: fixed;
  top: 700px;
  left: 676px;
}
.t2 {
  font-size: 40px;
  position: absolute;
  top: 675px;
  left: 22px;
}
/* Задаю расположение для всех картинок */
.pg1 {
   float: right;/* Выравнивание по правому краю */
   margin: 0 0 25px 25px; /* Отступы */
   position: relative;
   z-index: -1;
}
.pg2 {
  float: left;
  top: -199px;
  position: relative;
  z-index: -3;
}
.pg3 {
  position: relative;
  top: 510px;
  z-index: -1;
}
.pg4 {
  left: -100px;
  top: 240px;
  position: relative;
  z-index: -1;
}
.pg5{
  left: 260px;
  top: -190px;
  position: relative;
  z-index: -4;
}
.pg6{
  top: -760px;
  Right: -1157px;
  position: relative;
  z-index: -5;
}
/* Задаю размер для 6 картинки */
.pg6 img{
  max-width: 309px;
  max-height: 687px;
}
.t0 {
  margin-top: -700px;
  position: absolute;
}
p {
    margin-top: -700px;
    font-size: 58px;
    margin-left: 100px;
    line-height: 55px;
}
.pg21 {
   float: left;
   margin-top: -550px;
}
.pg21 img {
  max-width: 2502px;
  height: 762px;
}
.t3{
  top: 1090px;
  position: relative;
  /*margin-top: -320px;*/
}
.container2 {
  margin-left: 100px;
  margin-top: 1270px;
  margin-right: 100px;
}
.t4 {
  position: absolute;
  margin-top: 150px;
}
.pg41 {
  position: relative;
  margin-top: 660px;
}
.pg42 {
  position: relative;
  margin-top: -800px;
}
.pg43 {
  position: relative;
  margin-top: -650px;
  left: 40%;
}
.pg44 {
  position: relative;
  margin-top: -525px;
  right: -880px;
}
.pg45 {
  position: relative;
  margin-top: -598px;
  right: -1110px;
}
.ot {
  margin-top: 30px;
  position: absolute;
  font-size: 19px;
  left: 150px;

}
.t5{
  position: relative;
  margin-top: -340px;

}
.t6{
  position: relative;
  margin-top: -405px;
  left: 285px;
}
.t7 {
  position: relative;
  left: 540px;
  margin-top: -50px;
}
.t8 {
  position: relative;
  left: 795px;
  margin-top: -230px;
}
.t9 {
  position: relative;
  margin-top: -310px;
  left: 1030px;
}
.container4 {
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
}
.l1 {
  position: absolute;
  border-left: 2px solid black;
  height: 424px;
  margin-left: 221px;
}
.l2 {
  position: absolute;
  border-left: 2px solid black;
  height: 424px;
  margin-left: 482px;
}
.l3 {
  position: absolute;
  border-left: 2px solid black;
  height: 424px;
  margin-left: 747px;
}
.l4 {
  position: absolute;
  border-left: 2px solid black;
  height: 424px;
  margin-left: 1009px;
}
.l5 {
  position: absolute;
  border-top: 2px solid black;
  width: 1240px;
  margin-top: 20px;
}
.l6 {
  position: absolute;
  border-top: 2px solid black;
  width: 1240px;
  margin-top: 400px;
}
.pg51 img{
  margin-top: 35px;
}
.t10 {
  position: absolute;
  margin-top: 150px;
}
.pg61 {
  position: relative;
  float: right;
  margin-top: 300px;
}
.pg62 {
  position: relative;
  float: left;
  margin-top: -176px;
}
.pg63 {
  position: relative;
  float: right;
  margin-top: 85px;
}
.pg64 {
    position: relative;
    left: 679px;
    top: 750px;
}
.pg66 {
  position: relative;
  float: left;
  margin-top: -173px;
  z-index: -1;
}
.pg67 {
  position: relative;
  float: right;
  margin-top: -150px;
  z-index: -1;
}
.pg68 {
  position: absolute;
  left: 500px;
  margin-top: 350px;
}
.pg69 {
  position: absolute;
  left: 380px;
  margin-top: 962px;
  z-index: -1;
}
.container5 {
  margin-top: 1300px;
  margin-left: 100px;
  margin-right: 100px;
}
.container6 {
  transform: rotate(180deg);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 75px;
}
.container8 {
  margin-left: 100px;
  margin-top: 200px;
  margin-right: 100px;
}
.pg81 {
  position: relative;
  margin-top: 100px;
  z-index: -2;
}
.pg91 {
  position: relative;
  margin-top: -1020px;
  margin-left: 410px;
}
.pg91 img{
  width: 467px;
  height: 947px;
}
.pg92 {
  margin-top: 150px;
  z-index: 1;
}
.pg92 img{
  width: 1498px;
  height: 846px;
}
.pg93 {
  position: relative;
  margin-top: -952px;
  margin-left: 801px;
  z-index: 1;
}
.pg94 {
  position: relative;
  margin-top: -430px;
  margin-left: 713px;
  z-index: 1;
}
.t17{
  margin-top: 700px;
  position: absolute;
}
.pg101 {
  position: relative;
  z-index: -6;
  top: 1100px;
  float: right;
}
.pg102 {
  position: relative;
  z-index: -5;
  top: 600px;
  margin-left: 1004px;
}
.pg103 {
  position: relative;
  z-index: -4;
  top: 450px;
  margin-left: -120px;
}
.pg104 {
  position: relative;
  z-index: -3;
  top: 150px;
  margin-left: -200px;
}
.pg105 {
  position: relative;
  top: -310px;
  margin-left: 1200px;
  z-index: -2;
}
.pg106 {
  position: relative;
  z-index: 1;
  top: -770px;
  margin-left: 790px;
}
