.l7 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 0px;
}
.l8 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 7px;
}
.l9 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 14px;
}
.l10 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 21px;
}
.l11 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 28px;
}
.l12 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 35px;
}
.l13 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 42px;
}
.l14 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 49px;
}
.l15 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 56px;
}
.l16 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 63px;
}
.l17 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 70px;
}
.l18 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 77px;
}
.l19 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 84px;
}
.l20 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 91px;
}
.l21 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 98px;
}
.l22 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 105px;
}
.l23 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 112px;
}
.l24 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 119px;
}
.l25 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 126px;
}
.l26 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 133px;
}
.l27 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 140px;
}
.l28 {
  margin-top: -109px;
  position: absolute;
  border-left: 2px solid black;
  height: 127px;
  margin-left: 147px;
}
.l29 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 154px;
}
.l30 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 161px;
}
.l31 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 168px;
}
.l32 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 175px;
}
.l33 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 182px;
}
.l34 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 189px;
}
.l35 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 196px;
}
.l36 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 203px;
}
.l37 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 210px;
}
.l38 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 217px;
}
.l39 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 224px;
}
.l40 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 231px;
}
.l41 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 238px;
}
.l42 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 245px;
}
.l43 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 252px;
}
.l44 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 259px;
}
.l45 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 266px;
}
.l46 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 273px;
}
.l47 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 280px;
}
.l48 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 287px;
}
.l49 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 294px;
}
.l50 {
  margin-top: -109px;
  position: absolute;
  border-left: 2px solid black;
  height: 127px;
  margin-left: 301px;
}
.l51 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 308px;
}
.l52 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 315px;
}
.l53 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 322px;
}
.l54 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 329px;
}
.l55 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 336px;
}
.l56 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 343px;
}
.l57 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 350px;
}
.l58 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 357px;
}
.l60 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 364px;
}
.l61 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 371px;
}
.l62 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 378px;
}
.l63 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 385px;
}
.l64 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 392px;
}
.l65 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 399px;
}
.l66 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 406px;
}
.l67 {
  margin-top: -109px;
  position: absolute;
  border-left: 2px solid black;
  height: 127px;
  margin-left: 413px;
}
.l68 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 420px;
}
.l69 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 427px;
}
.l70 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 434px;
}
.l71 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 441px;
}
.l72 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 448px;
}
.l73 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 455px;
}
.l74 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 462px;
}
.l75 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 469px;
}
.l76 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 476px;
}
.l77 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 483px;
}
.l78 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 490px;
}
.l79 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 497px;
}
.l80 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 504px;
}
.l81 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 511px;
}
.l82 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 518px;
}
.l83 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 525px;
}
.l84 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 532px;
}
.l85 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 539px;
}
.l86 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 546px;
}
.l87 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 553px;
}
.l88 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 560px;
}
.l89 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 567px;
}
.l90 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 574px;
}
.l91 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 581px;
}
.l92 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 588px;
}
.l93 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 595px;
}
.l94 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 602px;
}
.l95 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 609px;
}
.l96 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 616px;
}
.l97 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 623px;
}
.l98 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 630px;
}
.l99 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 637px;
}
.l100 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 644px;
}
.l101 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 651px;
}
.l102 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 658px;
}
.l103 {
  margin-top: -109px;
  position: absolute;
  border-left: 2px solid black;
  height: 127px;
  margin-left: 665px;
}
.l104 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 672px;
}
.l105 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 679px;
}
.l106 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 686px;
}
.l107 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 693px;
}
.l108 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 700px;
}
.l109 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 707px;
}
.l110 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 714px;
}
.l111 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 721px;
}
.l112 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 728px;
}
.l113 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 735px;
}
.l114 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 742px;
}
.l115 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 749px;
}
.l116 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 756px;
}
.l117 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 763px;
}
.l118 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 770px;
}
.l119 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 777px;
}
.l120 {
  margin-top: -109px;
  position: absolute;
  border-left: 2px solid black;
  height: 127px;
  margin-left: 784px;
}
.l121 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 791px;
}
.l122 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 798px;
}
.l123 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 805px;
}
.l124 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 812px;
}
.l125 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 819px;
}
.l126 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 826px;
}
.l127 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 833px;
}
.l128 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 840px;
}
.l129 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 847px;
}
.l130 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 854px;
}
.l131 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 861px;
}
.l132 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 868px;
}
.l133 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 875px;
}
.l134 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 882px;
}
.l135 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 889px;
}
.l136 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 896px;
}
.l137 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 903px;
}
.l138 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 910px;
}
.l139 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 917px;
}
.l140 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 924px;
}
.l141 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 931px;
}
.l142 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 938px;
}
.l143 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 945px;
}
.l144 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 952px;
}
.l145 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 959px;
}
.l146 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 966px;
}
.l147 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 973px;
}
.l148 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 980px;
}
.l149 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 987px;
}
.l150 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 994px;
}
.l151 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1001px;
}
.l152 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1008px;
}
.l153 {
  margin-top: -109px;
  position: absolute;
  border-left: 2px solid black;
  height: 127px;
  margin-left: 1015px;
}
.l154 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1022px;
}
.l155 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1029px;
}
.l156 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1036px;
}
.l157 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1043px;
}
.l158 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1050px;
}
.l59 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1057px;
}
.l160 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1064px;
}
/*.l161 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1071px;
}
.l162 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1071px;*/
}
.l163 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1071px;
}
.l164 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1071px;
}.l165 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1078px;
}
.l166 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1085px;
}
.l167 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1092px;
}
.l168 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1099px;
}
.l169 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1106px;
}
.l170 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1113px;
}
.l171 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1120px;
}
.l172 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1127px;
}
.l173 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1134px;
}
.l174 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1141px;
}
.l175 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1148px;
}
.l176 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1155px;
}
.l177 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1162px;
}
.l178 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1169px;
}
.l179 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1176px;
}
.l180 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1183px;
}
.l181 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1190px;
}
.l182 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1197px;
}
.l183 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1204px;
}
.l184 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1211px;
}
.l185 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1218px;
}
.l186 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1225px;
}
.l187 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1232px;
}
.l188 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1239px;
}
.l189 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1246px;
}
.l190 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1253px;
}
.l191 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1260px;
}
.l192 {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1267px;
}
.l193 {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 1274px;
}
.nu {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 142px; /* Отступы по бокам */
}
.nu2 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 249px; /* Отступы по бокам */
}
.nu3 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 355px; /* Отступы по бокам */
}
.nu4 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 463px; /* Отступы по бокам */
}
.nu5 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 571px; /* Отступы по бокам */
}
.nu6 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 679px; /* Отступы по бокам */
}
.nu7 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 787px; /* Отступы по бокам */
}
.nu8 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 890px; /* Отступы по бокам */
}
.nu9 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 993px; /* Отступы по бокам */
}
.nu10 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1087px; /* Отступы по бокам */
}
.nu11 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1191px; /* Отступы по бокам */
}
.nu12 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1293px; /* Отступы по бокам */
}
.container7 {
  transform: rotate(180deg);
}
.no1 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1310px; /* Отступы по бокам */
  margin-top: -100px;
}
.no2 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1270px; /* Отступы по бокам */
  margin-top: -100px;
}
.no3 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1230px; /* Отступы по бокам */
  margin-top: -100px;
}
.no4 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1190px; /* Отступы по бокам */
  margin-top: -100px;
}
.no5 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1150px; /* Отступы по бокам */
  margin-top: -100px;
}
.no6 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1110px; /* Отступы по бокам */
  margin-top: -100px;
}
.no7 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1070px; /* Отступы по бокам */
  margin-top: -100px;
}
.no8 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 1030px; /* Отступы по бокам */
  margin-top: -100px;
}
.no9 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 990px; /* Отступы по бокам */
  margin-top: -100px;
}
.no10 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 950px; /* Отступы по бокам */
  margin-top: -100px;
}
.no11 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 910px; /* Отступы по бокам */
  margin-top: -100px;
}
.no12 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 870px; /* Отступы по бокам */
  margin-top: -100px;
}
.no13 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 830px; /* Отступы по бокам */
  margin-top: -100px;
}
.no14 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 790px; /* Отступы по бокам */
  margin-top: -100px;
}
.no15 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 750px; /* Отступы по бокам */
  margin-top: -100px;
}
.no16 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 710px; /* Отступы по бокам */
  margin-top: -100px;
}
.no17 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 670px; /* Отступы по бокам */
  margin-top: -100px;
}
.no18 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 630px; /* Отступы по бокам */
  margin-top: -100px;
}
.no19 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 590px; /* Отступы по бокам */
  margin-top: -100px;
}
.no20 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 550px; /* Отступы по бокам */
  margin-top: -100px;
}
.no21 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 510px; /* Отступы по бокам */
  margin-top: -100px;
}
.no22 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 470px; /* Отступы по бокам */
  margin-top: -100px;
}
.no23 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 430px; /* Отступы по бокам */
  margin-top: -100px;
}
.no24 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 390px; /* Отступы по бокам */
  margin-top: -100px;
}
.no25 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 350px; /* Отступы по бокам */
  margin-top: -100px;
}
.no26 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 310px; /* Отступы по бокам */
  margin-top: -100px;
}
.no27 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 270px; /* Отступы по бокам */
  margin-top: -100px;
}
.no28 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 230px; /* Отступы по бокам */
  margin-top: -100px;
}
.no29 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 190px; /* Отступы по бокам */
  margin-top: -100px;
}
.no30 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 150px; /* Отступы по бокам */
  margin-top: -100px;
}
.no31 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 110px; /* Отступы по бокам */
  margin-top: -100px;
}
.no32 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 70px; /* Отступы по бокам */
  margin-top: -100px;
}
.no33 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: 30px; /* Отступы по бокам */
  margin-top: -100px;
}
.no34 {
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*line-height: 161px; /* Расстояние между строками */
  margin-left: -10px; /* Отступы по бокам */
  margin-top: -100px;
}
.l28l {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 147px;
  }
.l67l {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 413px;
}
.l120l {
  position: absolute;
  border-left: 2px solid black;
  height: 9px;
  margin-left: 784px;
}
  .l153l {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 1015px;
}
.l103l {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 665px;
}
.l50l {
  position: absolute;
  border-left: 2px solid black;
  height: 18px;
  margin-left: 301px;
}
.rectangle {
    width: 1440px;
    height: 120px;
    background: white;
    padding-top: 20px;

}
.t11 {
  font-family: "Bebas Neue Pro";
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*margin-top: 190px; /* Оступ сверху */
  line-height: 23px; /* Расстояние между строками */
  margin-top: -110px;
  font-weight: 600px;
  margin-left: 152px;
}
.t12 {
  font-family: "Bebas Neue Pro";
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*margin-top: 190px; /* Оступ сверху */
  line-height: 23px; /* Расстояние между строками */
  margin-top: -110px;
  font-weight: 600px;
  margin-left: 419px;
}
.t13 {
  font-family: "Bebas Neue Pro";
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*margin-top: 190px; /* Оступ сверху */
  line-height: 23px; /* Расстояние между строками */
  margin-top: -110px;
  font-weight: 600px;
  margin-left: 789px;
}
.t14 {
  font-family: "Bebas Neue Pro";
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*margin-top: 190px; /* Оступ сверху */
  line-height: 23px; /* Расстояние между строками */
  margin-top: 183px;
  font-weight: 600px;
  margin-left: 285px;
}
.t15 {
  font-family: "Bebas Neue Pro";
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*margin-top: 190px; /* Оступ сверху */
  line-height: 23px; /* Расстояние между строками */
  margin-top: 161px;
  font-weight: 600px;
  margin-left: 635px;
}
.t16 {
  font-family: "Bebas Neue Pro";
  position: absolute;
  font-size: 26px; /* Кегель*/
  /*margin-top: 190px; /* Оступ сверху */
  line-height: 23px; /* Расстояние между строками */
  margin-top: 205px;
  font-weight: 600px;
  margin-left: 999px;
}
.l200 {
  position: absolute;
  border-top: 2px solid black;
  width: 1280px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 35px;
}
.l201 {
  position: absolute;
  border-top: 2px solid black;
  width: 1280px;
  margin-left: 60px;
  margin-right: 100px;
  margin-top: -60px;
}
